* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: rgb(59, 148, 148);
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
}
.yellow {
  height: 80%;
  background-color: rgb(255, 253, 122);
}
.box {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5px;
}
.item-1,
.item-3 {
  height: 100%;
  background-color: orange;
  font-size: 2rem;
  font-weight: 800;
  flex-basis: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-2 {
  height: 100%;
  background-color: orange;
  font-size: 2rem;
  font-weight: 800;
  flex-basis: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: rgb(255, 253, 122);
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
}
